.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scroll-menu {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  transition: top 0.3s ease-in-out;
}

.scroll-menu.fixed {
  position: fixed;
  top: 0;
  background-color: #ffffff; /* Цвет фона при фиксации */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень при фиксации */
}

.scroll-menu button {
  background-color: #ffffff;
  border: 1px solid #000000;
  padding: 10px;
  cursor: pointer;
}

.scroll-menu button.active {
  background-color: #dddddd;
}
